.screen-header__icons svg {
  height: 1.5rem;
}
/* ------------------------------ */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vw; */
  padding: var(--horizontal-space);
  /* box-sizing: border-box; */
}
.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 20px;
}
