#status-bar {
  /* position: sticky; */
  top: 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 5px 3px;
}

.status-bar__colume {
  width: 33%;
}

.status-bar__colume:first-child span {
  margin-right: 5px;
}

.status-bar__colume:first-child {
  display: flex;
  justify-content: flex-start;
}

.status-bar__colume:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__colume:last-child {
  display: flex;
  justify-content: flex-end;
}

.status-bar__icons {
  width: 1rem;
}

.status-bar__colume .battery {
  margin: 0 5px;
}
